$color-primary : #D87D4A;
$color-secondary: #FBAF85;
$color-black: #000000;
$color-black-lighter : #101010;
$color-white: #FFFFFF;
$color-grey: #F1F1F1;
$color-grey-lighter: #FAFAFA; 
$breakpoints: (md: 576px, lg: 992px); 